# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
build/
dist/

# Virtual envs
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Env / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp
.DS_Store
